body {
  background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
  color: #e0e0e0;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0; 
}

.login-container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.card-container {
  width: 100%;
  max-width: 600px;
}

.text-light {
  color: #e0e0e0 !important;
}

.form-control {
  background-color: #333333;
  color: #e0e0e0;
  border-color: #444444;
}

.form-floating>.form-control:focus, 
.form-floating>.form-control:not(:placeholder-shown) {
  border-color: #555555;
}

.form-label {
  color: #bbbbbb;
}

.card {
  background-color: #1e1e1e;
  border-color: #444444;
}

.card-body {
  color: #e0e0e0;
}

.btn-primary {
  background-color: #54219b;
  border-color: #54219b;
}

.btn-primary:hover {
  background-color: #935be1;
  border-color: #935be1;
}

.link-light {
  color: #935be1 !important;
}

.link-light:hover {
  color: #ffffff !important;
}
